body {
    background-color: #ffffff;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-style: italic;
    color: #252323;
    font-size: 2rem;
    margin: 2rem;
}

header {
    background-image: url(images/tour_eiffel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    padding: 250px 0;
}

.logo.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
    margin-top: -250px;
    position: sticky;
    top: 0;
}

.menu-outline {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.menu-outline.hidden {
    display: none;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: black;
}

.close-btn::before,
.close-btn::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: black;
    left: 0;
}

.close-btn::before {
    transform: rotate(45deg);
}

.close-btn::after {
    transform: rotate(-45deg);
}

#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f9f9f9;
    color: #000000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    width: 40px;
    height: 40px;
}

#scrollToTopButton i {
    margin-right: 0;
}

#scrollToTopButton:hover {
    background-color: #ffffff;
}

nav {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav li a:hover {
    color: #1fa5d6e7;
    text-decoration: underline;
}

.sidenav {
    position: fixed;
    top: 0;
    right: -600px;
    width: 600px;
    height: 100%;
    background: #efefef;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 2;
}

.sidenav.active {
    right: 0;
}

.sidenav ul {
    list-style: none;
    padding: 0;
    margin-top: 100px;
    text-align: center;
}

.sidenav ul li {
    margin-bottom: 20px;
}

.sidenav a {
    text-decoration: none;
    color: #000000;
}

.sidenav .brand {
    display: none;
}

header nav ul {
    list-style: none;
    font-size: 20px;
}

header nav ul li a {
    color: #252525;
    text-decoration: none;
    margin: 17rem;
}

header nav ul li a:hover {
    color: #c9810f;
    transition: 0.5s;
}

header nav ul li a.active {
    color: #c9810f;
    text-decoration: underline;
}

#nav {
    display: none;
}

#nav.active {
    display: block;
}

#accueil {
    display: flex;
    flex-direction: column;
}

#accueil .p_accueil {
    color: #b84e0d;
    font-size: 2rem;
    margin: 2rem;
}

#accueil p {
    font-size: 26px;
    font-weight: 400;
    color: #130e0e;
    margin-bottom: 50px;
    margin-top: 16px;
    line-height: 32px;
    font-style: italic;
    margin: 2rem;
}

#accueil a {
    background-color: #b84e0d;
    color: #fff;
    width: 46vw;
    height: 5vh;
    margin: 0 0 2rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
}

#accueil a:hover {
    background: linear-gradient(#b84e0d, #f58a25);
}

hr {
    width: 30%;
    margin-left: 10rem;
}

footer {
    display: flex;
    justify-content: space-around;
}

footer .logo-linkedin {
    color: rgb(18, 105, 199);
    font-size: 20px;
    margin: 27px;
}
